.display-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  width: 100%;
  max-width: 1200px;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium);
}

.display-card {
  background-color: whitesmoke;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text-color-light);

  border-radius: var(--border-radius-medium);
}

.card__image-container {
  flex-basis: 60%;
  max-height: 60%;
}

.card__image-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-position: center;
  display: block;
  background-color: var(--color-background-dark);
}

.card__content-container {
  flex-basis: 40%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  padding: var(--spacing-medium);
  background-color: var(--color-background-dark);
}

.card__content-container div {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text-color-light);
}

.description-container {
  gap: var(--spacing-small);
}

.description-container h3 {
  color: var(--text-color-yellow);
}
