header {
  width: 100%;

  min-height: 124px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-medium);
  padding: 0, var(--spacing-large);
  background-color: var(--color-background-dark);
}

.header__image-container {
  flex-basis: 25%;
  height: 50%;
  background-image: url("/assets/images/header-main-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar {
  flex-basis: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar__links-container {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-large);
}

.navbar-link {
  color: var(--text-color-light);
}

.navbar-link--active {
  color: var(--text-color-yellow);
}
